# Compiled Java classes
*.class

# Package Files (Build artifacts)
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs
hs_err_pid*
*.log

# Build tool directories
target/
build/
bin/
out/

# Eclipse (on garde les fichiers importants !)
.metadata/
.recommenders/

# IntelliJ / VSCode
.idea/
*.iml
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db
